.file {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    display: flex;
    width: 24rem;
    padding-top: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.title>p>span {
    font-size: 2.5rem;
}

.file-summary > hr {
    border: .09rem solid #47a45849;
}

.relationship-summary {
    width: 8rem;
    overflow-x: scroll;
}

.icon-summary {
    background-color: #47a45849;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin: 0 1.5rem;
}