.title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    margin-left: 8%;
}

.file {
    margin-top: 2vmin;
    overflow-y: scroll;
}

.title > * {
    justify-self: start;
}

.updated-at {
    margin-left: 8%;
    font-size: 2vmin;
}

.title>p>span {
    font-size: 5vmin;
    text-transform: uppercase;
    letter-spacing: .1vmin;
}

.title > p {
    font-size: 2vmin;
}

.file-summary > hr {
    border: .05vmin solid #e25b51;
    width: 88%
}

.file-summary > a {
    text-decoration: none;
    color: black;
}

.relationship-summary {
    width: 12vw;
    overflow-x: scroll;
}
