.auth-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.file {
    margin: 3vmin 2vmin 0 2vmin;
    overflow-x: scroll;
}

.file-summary {
    width: 90%;
    margin: 0 auto;
}

.auth-title > * {
    justify-self: start;
}

.updated-at {
    margin-left: 8%;
    font-size: 2vmin;
    padding-left: 3vmin;
}

.auth-title>p>span {
    font-size: 3vmin;
    text-transform: uppercase;
    letter-spacing: .1vmin;
}

.file-summary > hr {
    border: .05vmin solid #e25b51;
}


.file-summary > a {
    text-decoration: none;
    color: black;
}

.auth-title-name {
    width: 80%;
    overflow-x: scroll;
    text-align: left;
    margin-left: 3vmin;
    overflow-y: scroll;
}

.relationship-summary {
    width: 80%;
    text-align: left;
    margin-left: 4vmin;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 2vmin;
    font-size: 2vmin;
    margin-top: 3vmin;
}

@media (max-width: 800px) {
    .relationship-summary {
        display: none
    }
    .updated-at {
        display: none;
    }

    .auth-title-name {
        width: 200%;
    }
}
