@font-face {
    font-family: glacialIndifference-black;
    src: url(../../fonts/GlacialIndifference-Regular.otf);
}

.auth-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 7vmin;

}

.auth-page>h1 {
    font-family: tanMerengue-black;
    color: #e25b51;
    font-size: 8vmin;
    margin-top: 5vmin;
    margin-bottom: 0;
    margin-left: 0 !important
}

.auth-page-forms {
    background-color: white;
    width: 40vw;
    margin: 0 auto;
    margin-top: 5vmin;
    padding: 3vmin;
    border-radius: 2vmin;
    box-shadow: 1.5vmin 1.5vmin 0 #BCCADB;
}

.auth-page-forms > p {
    font-size: 1.5vmin;
}

.login-option-btn {
    text-decoration: underline;
    margin-top: -1vmin;
}
