.auth-page {
    display: flex;
    flex-direction: column;
}

.auth-page-forms {
    margin: 0 6rem;
    margin-top: 5rem;
    width: 50rem;
}

.login-option-btn {
    background-color: white;
    border-style: none;
    text-decoration: underline;
}

.auth-page>hr {
    border: .09rem solid #47a45849;
    width: 80rem;
}