.input-form > form > .form-fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 47vmin;
    margin: 0 auto;
}

.input-form > form > .form-fields > label > textarea {
    background-color: #BCCADB;
    border-style: none;
    font-size: 1.5vmin;
    padding: .75vmin;
    height: 2vmin;
    align-self: center;
    border-radius: 2vmin;

}
.input-form > form > .form-fields > label, div.calendar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .5vmin;
    padding-right: 5vmin;
}

.input-form > form > .form-fields > label > h4, div.calendar-container > label > h4 {
    text-align: right;
    margin-right: 3vmin;
    font-size: 2vmin;
    font-weight: 400;
}

.post-btn {
    background-color: #EDAF90;
    border: .2vmin solid transparent;
    color: white;
    border-radius: 4vmin;
    padding: 1vmin;
    margin: 4vmin 0 2vmin 0;
    font-size: 1.8vmin;
}

.post-btn:hover {
    background-color: transparent;
    text-decoration: none;
    border: .2vmin solid #e25b51;
    color: #e25b51;
}

.react-datepicker-wrapper {
    display: flex !important;
    align-items: center;
}
