.about-page {
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-info {
    padding: 5vmin 10vmin 0 10vmin;
    text-align: left;
    height: 75vh;
    overflow-y: scroll;
}
.about-info > p {
    font-size: 2vmin;
    padding-bottom: 2vmin;
}

.rock-img {
    margin-top: -16vh;
    background-image: url('https://i.imgur.com/Sl2hvA5.png');
    background-repeat: no-repeat;
    background-size: cover;
}