nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

.nav-logo {
    color: #4A66FA;
    font-size: 2rem;
    margin-top: 2.5rem;
}

.dash-link {
    margin-left: 2rem;
    margin-top: 2rem;
}

.logout-btn {
    border-radius: 3rem;
    background-color: black;
    color: white;
    padding: .5rem;
    margin-top: 2rem;
    font-weight: 400;
    font-size: .8rem;
}

.welcome-user {
    margin-top: 3rem;
}