.edit-file-page {
    height: 92vh;
}

.edit-file-page>* {
    background-color: white;
    width: 45vmin;
    margin: 0 auto;
    margin-top: 5vmin;
    padding: 3vmin 2vmin 2vmin 3vmin;
    border-radius: 2vmin;
    box-shadow: 1.5vmin 1.5vmin 0 #BCCADB;
}

@media (max-width: 800px) {
    .edit-file-page > *{
        width: 60vmin !important;
    }
}