@font-face {
    font-family: tanMerengue-black;
    src: url(../../fonts/TAN\ -\ MERINGUE.woff);
}
  
.file-details-page {
    height: 92vh;
    display: grid;
    grid-template-columns: 15% 3fr 2% 2fr 15%;
    grid-template-rows: 1.5fr 2% 2fr 2% 4fr 12%;
}

.name-and-relationship {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #BCCADB;
    overflow-y: scroll;
    overflow-x: scroll;
}

.name-and-relationship>* {
    overflow-y: scroll;
    overflow-x: scroll;
}

.name-and-relationship > h1 {
    font-family: tanMerengue-black;
    text-transform: uppercase;
    font-size: 6vmin;
    padding: 1.5vmin 0 0 0;
    margin: 0 0 0 4vmin;
}

.name-and-relationship > p {
    font-size: 2vmin;
    margin: 0 auto;
    margin-top: 4vmin;
    margin-left: 2vmin;
    text-align: center;
}

.circumstances {
    grid-column: 2;
    grid-row: 3 / 4;
    background-color: #BCCADB;
    text-align: left;
    padding: 0 2vmin;
    line-height: 2.2vmin;
    overflow-x: scroll;
    overflow-y: scroll;
}

.circumstances > p {
    font-size: 2vmin;
}

.notes {
    grid-column: 2;
    grid-row: 5;
    background-color: #BCCADB;
    text-align: left;
    padding: 0 2vmin;
    line-height: 2.2vmin;
    overflow-x: scroll;
    overflow-y: scroll;
}

.notes > p {
    font-size: 2vmin;
}

.reminders {
    grid-column: 4;
    grid-row: 1 / 4;
    background-color: #BCCADB;
    padding: 0 1vmin;
    overflow-y: scroll;
    overflow-x: scroll;
}

.reminders > p {
    font-size: 1.5vmin;
}

.reminder-title {
    font-family: tanMerengue-black;
    font-size: 3vmin;
    margin-top: 3vmin;
    margin-bottom: 0;
}

.reminder-functionality > hr {
    border: .1vmin solid black;
    width: 18vmin;
    margin-bottom: 2vmin;
}

.reminder-functionality > p {
    font-size: 2.5vmin;
}

.ai-integration {
    grid-column: 4;
    grid-row: 5 / 6;
    background-color: #BCCADB;
    padding: 0 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ai-integration > .ai-btns {
    display: flex;
    align-items: center;
}

.ai-btn {
    background-image: linear-gradient(to right, #E1776F,#E683DF, #647CF8);
    border-style: none;
    border-radius: 2vmin;
    padding: 2vmin;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 2vmin;
    font-size: 2vmin;
}

.ai-btn:hover {
    transform: scale(.95);
}

.ai-question {
    background-color: #EDAF90;
    border: .2vmin solid #EDAF90;
    height: 3vmin;
    width: 3vmin;
    color: white;
    font-weight: bolder;
    font-size: 2.5vmin;
    border-radius: 50%;
    padding: .5vmin;
    margin: 2vmin -2vmin 0 1vmin;
    text-decoration: none;
}

.gathering-resources {
    color: rgba(128, 128, 128, 0.857);
    position: absolute;
    margin-top: 9vmin;
    font-size: 1.5vmin;
}

.edit-and-delete-btns {
    grid-column: 5;
    grid-row: 5;
    display: flex;
    align-items: flex-end;
    margin-bottom: -2vmin;
}

.delete-btn, .edit-btn {
    background-color: #EDAF90;
    border: .2vmin solid transparent;
    color: white;
    border-radius: 4vmin;
    padding: 1vmin;
    margin: 4vmin 0 2vmin 1vmin;
    font-size: 1.8vmin;
}

.delete-btn:hover, .edit-btn:hover, .ai-question:hover {
    background-color: transparent;
    text-decoration: none;
    border: .2vmin solid #e25b51;
    color: #e25b51;
}

.chat-response {
    width: 33vmin;
    height: 30vmin;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 2vmin;
    margin-top: 2vmin;
}

@media (max-width: 800px) {
    .name-and-relationship {
        flex-direction: column;
        justify-content: center;
    }
    .name-and-relationship > p {
        margin-right: 1vmin;
    }
    .name-and-relationship > h1 {
        font-size: 4vmin;
        margin-left: 1vmin;
    }
}
