.signup-form > form > .form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 30vmin;
    margin: 0 auto;
}

.signup-form > form > .form-fields > input, .form-fields > label {
    margin-top: 3vmin;
    padding: .75vmin;
}

.signup-form > form > .form-fields > input {
    background-color: #BCCADB;
    border-style: none;
    border-radius: 2vmin;
    font-size: 1.5vmin;
}


.signup-btn {
    background-color: #EDAF90;
    border: .2vmin solid transparent;
    color: white;
    border-radius: 4vmin;
    padding: 1vmin;
    margin: 4vmin 0 2vmin 0;
    font-size: 1.8vmin;
}

.signup-btn:hover {
    background-color: transparent;
    text-decoration: none;
    border: .2vmin solid #e25b51;
    color: #e25b51;
}