@font-face {
  font-family: tanMerengue-black;
  src: url(./fonts/TAN\ -\ MERINGUE.woff);
}
@font-face {
  font-family: glacialIndifference-black;
  src: url(./fonts/GlacialIndifference-Regular.otf);
}

body {
  margin: 0;
  font-family: glacialIndifference-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
