@font-face {
  font-family: tanMerengue-black;
  src: url(./fonts/TAN\ -\ MERINGUE.woff);
}

@font-face {
  font-family: glacialIndifference-black;
  src: url(./fonts/GlacialIndifference-Regular.otf);
}

body {
  margin: 0;
  font-family: glacialIndifference-black;
  letter-spacing: .05vmin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea, input, button {
  font-family: glacialIndifference-black;
  font-size: 2vmin;
  color: black
}

h1 {
  letter-spacing: .5vmin;
}